<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>todo</string>
		<string>Main</string>
		<string>ccConfig</string>
		<string>ccUtil</string>
		<string>ccColor</string>
		<string>ccRect</string>
		<string>ccQuad</string>
		<string>ccSynth</string>
		<string>ccArray</string>
		<string>CCClass</string>
		<string>CCDirector</string>
		<string>CCMixins</string>
		<string>CCTouchDispatcher</string>
		<string>CCScheduler</string>
		<string>CCActionManager</string>
		<string>CCAction</string>
		<string>CCActionInstant</string>
		<string>CCActionInterval</string>
		<string>CCActionEase</string>
		<string>CCNode</string>
		<string>CCScene</string>
		<string>CCTransition</string>
		<string>CCLayer</string>
		<string>CCTextureAtlas</string>
		<string>CCSpriteBatchNode</string>
		<string>CCSprite</string>
		<string>CCLabelTTF</string>
		<string>CCMenu</string>
		<string>CCMenuItem</string>
		<string>MyLayer</string>
		<string>RainTest</string>
		<string>MyLayer3</string>
		<string>MenuArrangeTest</string>
	</array>
	<key>Created</key>
	<string>2012-06-06 16:52:51 +0000</string>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
